.contents {
    padding-left: 10.8%;
    padding-right: 10.8%;
    padding-top: 2rem;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}